<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <h3><i class="fas fa-book-reader"></i> SalesBooks</h3>
<div class="section">
    <p class="lead">Create public and private sales from your business</p>
</div>
<div class="divider"></div>
<div class="section"> 
    <a href="/auth/github" class="btn red darken-1">
        <i class="fab fa-github" aria-hidden="true"></i> Log In With Github
    </a>
</div>